body{font-family: 'Tajawal', sans-serif!important; font-display: swap!important;}
button{font-family: 'Tajawal', sans-serif!important; font-display: swap!important;}
.inputFont{font-family: 'Tajawal', sans-serif!important; font-display: swap!important;}
