.adminCard .card-body {
    padding-top: 10px;
}

.adminCard .card-header {
    padding: 13px 15px !important;
}

.adminCard .card-title {
    font-weight: bold;
    font-size: 16px;
}
.adminCard .card-outline .card-title {
    color: var(--cardColor);
}
.card_header_filter{
    border-radius: 0px;
}

.infoDiv h2.model_h2{
    background-color: #007bff!important;
    padding: 10px 15px!important;
    margin-bottom: 10px!important;
    border-radius: 5px!important;
    color: #fff!important;
}

