#YajraDatatable_info {
    font-size: 13px;
    padding-top: 3px !important;
    margin-bottom: 8px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: left !important;
}

.paginate_button {
    font-size: 13px;
}

table.dataTable > tbody > tr.child ul.dtr-details > li:last-child {
    border-bottom: 1px solid #efefef !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-right: 0 !important;
}

@media (max-width: 480px) {
    #YajraDatatable_length {
        display: none;
    }
}
@media (min-width: 600px) {
    #YajraDatatable .tipName {
        display: none;
    }
    .rwd_table .tipName {
        display: none;
    }
}
@media (min-width: 992px) {
    table.dataTable > tbody > tr.child ul.dtr-details {
        width:100% !important;
        float: right;
    }
    table.dataTable > tbody > tr.child ul.dtr-details > li:first-child {
        padding: .5em 0;
    }

    table.dataTable > tbody > tr.child ul.dtr-details li {
        width:50% !important;
        float: right;
    }

}

@media (max-width: 480px) {
    table.dataTable > tbody > tr.child ul.dtr-details {
        width: 100% !important;
        float: right;

    }

    table.dataTable > tbody > tr.child ul.dtr-details > li {
        float: right;
        width: 100% !important;

    }

    table.dataTable > tbody > tr.child ul.dtr-details > li.actionButView {
        width: 49.999999999999% !important;
        text-align: center !important;
        padding: 0!important;
        border: 0px solid rgba(0,0,0,.09)!important;
    }


    table.dataTable > tbody > tr.child span.dtr-title {
        float: right;
        width: 40%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
        font-weight: bold;
    }

    table.dataTable > tbody > tr.child span.dtr-data {
        float: right;
        width: 60% !important;
        max-width: 250px !important;
        overflow: hidden;
        text-align: right !important;
        display: block;
    }

    table.dataTable > tbody > tr.child ul.dtr-details > li.actionButView .dtr-data {
        width: 100% !important;
        text-align: center !important;
        margin-top: 8px;
    }


}


#YajraDatatable .tableImg{
    max-width: 70px;
    max-height: 70px;
}
#YajraDatatable .flag_icon{
    max-width: 25px;
    max-height: 25px;
}


#YajraDatatable th, #YajraDatatable td {
    padding: .50rem;

    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

/*.table tbody th, .table tbody td {*/
/*    padding-bottom: 0!important;*/
/*}*/

/*.table__photo{*/
/*    display:block;*/
/*    width: 200px!important;*/
/*    height: 200px!important;*/
/*    background-color: red;*/


/*}*/



