.tdc{ text-align: center!important;}
.TD_20{width:20px!important;}.TD_30{width:30px!important}.TD_40{width:40px!important}.TD_50{width:50px!important}.TD_60{width:60px!important}.TD_70{width:70px!important}
.TD_80{width:80px!important}.TD_90{width:90px!important}.TD_100{width:100px!important}.TD_110{width:110px!important}.TD_120{width:120px!important}.TD_130{width:130px!important}
.TD_140{width:140px!important}.TD_150{width:150px!important}.TD_160{width:160px!important}.TD_170{width:170px!important}.TD_180{width:180px!important}
.TD_190{width:190px!important}.TD_200{width:200px!important}.TD_250{width:250px!important}.TD_300{width:300px!important}.TD_350{width:350px!important}
.Td_Count{font-size:22px!important;}
.BB_Number{font-size:22px!important;}
.tableImg{ max-width: 60px; max-height: 60px;}
.leadsFlag img{width: 30px;}
@media (min-width: 999px) {
    .td_action{text-align: center; padding: 5px!important;width:20px!important;}
    .td_action{ padding-right: 7px!important; padding-left: 8px!important}
    .rwd_table td:last-child {
        padding-right: 7px!important; padding-left: 8px!important
    }
}

.but_add_to_user{
    font-size: 14px;
}

@media (max-width: 480px) {
    .but_add_to_user{
        font-size: 13px;
    }
}

.rwd_table th {
    display: none;
}

.rwd_table td {
    display: block;
}

.rwd_table td:before {
    content: attr(data-th) "";
    font-weight: bold;
    font-size: 14px;
    width: 6em;
    display: inline-block;
}

@media (max-width: 480px) {
    .rwd_table td:first-child {
        padding-top: 0!important;
        border-top: 0!important;
    }

    .rwd_table td:last-child {
        padding-bottom: .5em;
        border-bottom: 0px dashed rgba(0, 0, 0, .2);
        margin-bottom: 20px;

    }
}

@media (min-width: 480px) {


    .rwd_table td:before {
        display: none;
    }

    .rwd_table th, .rwd_table td {
        display: table-cell;
        /*padding: .25em .5em;*/
    }

    .rwd_table th:first-child, .rwd_table td:first-child {
        padding-left: 0;
    }

    .rwd_table th:last-child, .rwd_table td:last-child {
        padding-right: 0;
    }

    .rwd_table th, .rwd_table td {
        /*padding: 1em !important;*/
    }
}

.cat_table_name{
    font-size: 12px;
    padding: 4px 6px;
    max-width: 100px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap!important;
    overflow: hidden!important;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    .distribution_table .hideForMobile{
        display: none;
    }
    .distribution_table td.td_action{
        display: table-cell;
        float: right;
        text-align: center;
        width: 49.9999999999%;
    }
    .distribution_table.rwd_table td.td_action::before {
        display: none;
    }

    .distribution_table td.td_action input[type=checkbox] {
        -ms-transform: scale(1.5); /* IE */
        -moz-transform: scale(1.5); /* FF */
        -webkit-transform: scale(1.5); /* Safari and Chrome */
        -o-transform: scale(1.5); /* Opera */
        transform: scale(1.5);
        padding: 10px;
        border: 0!important;


    }



}


@media (min-width: 600px) {
    td.tipName {display: none;}
}



